div.services {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}
div.services > div {
  vertical-align: top;
  display: inline-block;
  margin: 0 50px;
}
div.services > div  img {
  width: 52px;
  height: 52px;
}
div.services > div > div.last {
  width: 52px;
  height: 52px;
  background-color: lightgrey;
  line-height: 60px;
  border-radius: 50%;
}
div.services > div > div.last > span {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: grey;
  border-radius: 50%;
}
div.services > div  p {
  text-align: center;
  font-family: iranyekanwebregular;
  font-size: 12px;
  margin-top: 10px;
}
div.services > div > a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: iranyekanwebregular;
  font-size: 12px;
}
div.services > div > a:visited{
  all: unset;
}