*,::before,::after{
    margin: 0;
    padding: 0;
}
div.wrapper{
    width: 100%;
}
.active{
    display: block !important;
}
@font-face {
    font-family:iranyekanwebregular ;
    src: url("../font/iranyekanwebregular.e31c09af.woff2");
}
/* make scroll */
body{
    font-family:iranyekanwebregular ;
    min-height: 2000px;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(243, 243, 243);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(209, 209, 209);
    border-radius: 10px;
}
