div.warpper2>header{
    width: 100%;
    height: 70px;
    background-color: rgb(253, 253, 253);
    border-bottom: 1px solid rgb(228, 228, 228);
    margin-top: 0;
    position: relative;
}
div.warpper2>header>div.right{
    width: 450px;
    height: inherit;
}
div.warpper2>header>div.right>div{
    display: inline-block;
    vertical-align: middle;
    margin-top: 18px;
    margin-right: 25px;
}
div.warpper2>header>div.right>div>img{
    vertical-align: middle;
    display: inline-block;
}
div.warpper2>header>div.right>div.mtn0>p{
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 0, 209);
    font-family: iranyekanwebregular;
    position: absolute;
    left:81%;
    top: 28px;
}
header>div.middle>input[type=text]{
    display: inline-block;
    width: 43%;
    height: 60px;
    padding-right: 40px;
    background-color: rgb(237, 237, 237);
    border-radius: 8px 8px 8px;
    border: 1px solid white;
    box-sizing: border-box;
    transition: 350ms;
    margin: 30px 15px 15px 15px;
    outline: none;
    position: absolute;
    bottom: -10px;
    right: 300px;
}
header>div.middle>input[type=text]>span{
    font-size: 12px;
    margin: 30px 15px 15px 15px;
}
div.middle>input[type=text]::placeholder{
    font-size: 18px;
    font-family:iranyekanwebregular ;
    color: rgb(161, 161, 161);
}

header>div.middle>input[type=text]:focus{
    outline: none;
    transition: 300ms;
}
div.warpper2>header>div.left{
    width: 450px;
    height: inherit;
    position: absolute;
    left: 40px;
    top: 10px;
}
div.warpper2>header>div.left>div{
    display: inline-block;
    vertical-align: middle;
    margin-top: 18px;
    margin-right: 55px;
}
div.warpper2>header>div.left>div>img{
    vertical-align: middle;
    display: inline-block;
}
div.warpper2>header>div.left>div.mtn1>p{
    font-family: iranyekanwebregular;
    font-size: 14px;
    color: gray;
    position: absolute;
    left: 310px;
    top: 20px;
}
div.warpper2>header>div.left::after{
    width: 2px;
    height: 25px;
    background-color: lightgray;
    content: " ";
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 170px;
}
div.warpper2>header>div.left>div.mtn2>p{
    font-family: iranyekanwebregular;
    font-size: 14px;
    color: gray;
    position: absolute;
    left: 130px;
    top: 20px;
}
div.warpper2>header>div.end{
    display: inline-block;
    width: 120px;
    height: 45px;
    background-color: rgb(255,206,0);
    border-radius: 40px;
    position: absolute;
    left: 10px;
    top: 15px;
}
div.warpper2>header>div.end>p{
    font-family: iranyekanwebregular;
    font-size: 16px;
    text-align: center;
    margin: 12px;
}