div.new{
    width: 95%;
    height: 40px;
    position: relative;
}
div.new>div.top>h3{
    font-size: 16px;
    font-family: iranyekanwebregular;
    margin-top: 10px ;
    margin-right: 100px;
}
div.new>div.top>img{
    position: absolute;
    top: -2px;
    margin-right: 65px;
}
div.new>div.bottom{
    display: inline-block;
    width: 800px;
    height: 150px;
    vertical-align: middle;
    margin-top: 20px;
    margin-right: 50px;
}
div.new>div.bottom>div.mtn3{
    vertical-align: middle;
    width: 100px;
    height: 40px;
    border: 1px solid gray;
    display: inline-block;
    margin: 2px;
    border-radius: 45px;
}
div.new>div.bottom>div.mtn5,div.new>div.bottom>div.mtn6,div.new>div.bottom>div.mtn4{
    vertical-align: middle;
    width: 130px;
    height: 40px;
    border: 1px solid gray;
    display: inline-block;
    margin: 2px;
    border-radius: 45px;
}
div.new>div.bottom>div.mtn3>p{
    font-size: 14px;
    color: rgb(87, 87, 87);
    font-family: iranyekanwebregular;
    text-align: center;
    margin-top: 12px;
}
div.new>div.bottom>div.mtn4>p{
    font-size: 14px;
    color: rgb(87, 87, 87);
    font-family: iranyekanwebregular;
    text-align: center;
    margin-top: 12px;
}
div.new>div.bottom>div.mtn5>p{
    font-size: 14px;
    color: rgb(87, 87, 87);
    font-family: iranyekanwebregular;
    text-align: center;
    margin-top: 12px;
}
div.new>div.bottom>div.mtn6>p{
    color: rgb(87, 87, 87);
    font-family: iranyekanwebregular;
    text-align: center;
    margin-top: 12px;
}